@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
  text-align: center;
  color: white;
  background: #6297b6;
  font-family: 'Nunito', sans-serif;
}

.App-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-content: center;
  margin: auto;
}
button, select, input {
  margin: 5px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
input {
  border: none;
  border-bottom: 1px solid white;
  color: #ccc;
  background: #6297b6;
}
button {
  color: #6297b6;
  background: white;
}

h1 {
  font-size: 4em;
  font-weight: 90;
}